<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601442486820-cd0s4jg6thvbc6rk1bahd4196r7usguj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601442486820-cd0s4jg6thvbc6rk1bahd4196r7usguj</string>
	<key>API_KEY</key>
	<string>AIzaSyAfNeAeNdwSCoKOV6Jct0KoN4ZdnywEofw</string>
	<key>GCM_SENDER_ID</key>
	<string>601442486820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abhisheksehgal.CollageApp</string>
	<key>PROJECT_ID</key>
	<string>collageapp-761a5</string>
	<key>STORAGE_BUCKET</key>
	<string>collageapp-761a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:601442486820:ios:606629b71f3c39235de6b1</string>
</dict>
</plist>
